examples/example.json
[
    {
        "id": "e495c177d14d0b11",
        "type": "tab",
        "label": "ORM Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "428fc8961defaa39",
        "type": "http in",
        "z": "e495c177d14d0b11",
        "name": "",
        "url": "/api/user",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "a8c68a79200c1dcd"
            ]
        ]
    },
    {
        "id": "a8c68a79200c1dcd",
        "type": "orm-db",
        "z": "e495c177d14d0b11",
        "name": "",
        "server": "a71510fea98254e9",
        "queryType": "findAll",
        "model": "49c4af9594b609ec",
        "rawQuery": "",
        "where": [],
        "attributes": "",
        "limit": "false",
        "limitType": "bool",
        "offset": "false",
        "offsetType": "bool",
        "data": "false",
        "dataType": "bool",
        "order": [],
        "outputs": 2,
        "inputs": 1,
        "syncType": "create",
        "x": 380,
        "y": 80,
        "wires": [
            [
                "2988dedb39791bd9"
            ],
            [
                "365f98582873489c"
            ]
        ]
    },
    {
        "id": "2988dedb39791bd9",
        "type": "http response",
        "z": "e495c177d14d0b11",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1200,
        "y": 340,
        "wires": []
    },
    {
        "id": "365f98582873489c",
        "type": "http response",
        "z": "e495c177d14d0b11",
        "name": "",
        "statusCode": "500",
        "headers": {},
        "x": 1200,
        "y": 460,
        "wires": []
    },
    {
        "id": "1327254cd8f228d0",
        "type": "http in",
        "z": "e495c177d14d0b11",
        "name": "",
        "url": "/api/user/one/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "96a259af34c03578"
            ]
        ]
    },
    {
        "id": "96a259af34c03578",
        "type": "orm-db",
        "z": "e495c177d14d0b11",
        "name": "FindById",
        "server": "a71510fea98254e9",
        "queryType": "findOne",
        "model": "49c4af9594b609ec",
        "rawQuery": "",
        "where": [
            {
                "logic1": "none",
                "field": "id",
                "expression": "eq",
                "value": "req.params.id",
                "logic2": "none",
                "valueType": "msg"
            }
        ],
        "attributes": "id,username,email",
        "limit": "false",
        "limitType": "bool",
        "offset": "false",
        "offsetType": "bool",
        "data": "false",
        "dataType": "bool",
        "order": [],
        "outputs": 2,
        "inputs": 1,
        "syncType": "create",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "2988dedb39791bd9"
            ],
            [
                "365f98582873489c"
            ]
        ]
    },
    {
        "id": "b3c7d79fdd73bc1b",
        "type": "http in",
        "z": "e495c177d14d0b11",
        "name": "",
        "url": "/api/user",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "bbc5f57aa998e740"
            ]
        ]
    },
    {
        "id": "bbc5f57aa998e740",
        "type": "orm-db",
        "z": "e495c177d14d0b11",
        "name": "",
        "server": "a71510fea98254e9",
        "queryType": "add",
        "model": "49c4af9594b609ec",
        "rawQuery": "",
        "where": [],
        "attributes": "id",
        "limit": "false",
        "limitType": "bool",
        "offset": "false",
        "offsetType": "bool",
        "data": "payload",
        "dataType": "msg",
        "order": [],
        "outputs": 2,
        "inputs": 1,
        "syncType": "create",
        "x": 370,
        "y": 200,
        "wires": [
            [
                "2988dedb39791bd9"
            ],
            [
                "365f98582873489c"
            ]
        ]
    },
    {
        "id": "1b3bc4b1127e6211",
        "type": "http in",
        "z": "e495c177d14d0b11",
        "name": "",
        "url": "/api/user",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "25b0ffa6a1a8d736"
            ]
        ]
    },
    {
        "id": "25b0ffa6a1a8d736",
        "type": "orm-db",
        "z": "e495c177d14d0b11",
        "name": "",
        "server": "a71510fea98254e9",
        "queryType": "update",
        "model": "49c4af9594b609ec",
        "rawQuery": "",
        "where": [
            {
                "logic1": "none",
                "field": "id",
                "expression": "eq",
                "value": "payload.id",
                "logic2": "none",
                "valueType": "msg"
            }
        ],
        "attributes": "id",
        "limit": "false",
        "limitType": "bool",
        "offset": "false",
        "offsetType": "bool",
        "data": "payload",
        "dataType": "msg",
        "order": [],
        "outputs": 2,
        "inputs": 1,
        "syncType": "create",
        "x": 380,
        "y": 260,
        "wires": [
            [
                "2988dedb39791bd9"
            ],
            [
                "365f98582873489c"
            ]
        ]
    },
    {
        "id": "2a296ec55ab3411b",
        "type": "orm-db",
        "z": "e495c177d14d0b11",
        "name": "",
        "server": "a71510fea98254e9",
        "queryType": "delete",
        "model": "49c4af9594b609ec",
        "rawQuery": "",
        "where": [
            {
                "logic1": "none",
                "field": "id",
                "expression": "eq",
                "value": "req.params.id",
                "logic2": "none",
                "valueType": "msg"
            }
        ],
        "attributes": "id",
        "limit": "false",
        "limitType": "bool",
        "offset": "false",
        "offsetType": "bool",
        "data": "false",
        "dataType": "bool",
        "order": [],
        "outputs": 2,
        "inputs": 1,
        "syncType": "create",
        "x": 380,
        "y": 320,
        "wires": [
            [
                "2988dedb39791bd9"
            ],
            [
                "365f98582873489c"
            ]
        ]
    },
    {
        "id": "26d5ce6b765b9f54",
        "type": "http in",
        "z": "e495c177d14d0b11",
        "name": "",
        "url": "/api/user/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "2a296ec55ab3411b"
            ]
        ]
    },
    {
        "id": "7a8086e146183365",
        "type": "http in",
        "z": "e495c177d14d0b11",
        "name": "",
        "url": "/api/user/count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "a5a1a140644338f2"
            ]
        ]
    },
    {
        "id": "a5a1a140644338f2",
        "type": "orm-db",
        "z": "e495c177d14d0b11",
        "name": "",
        "server": "a71510fea98254e9",
        "queryType": "count",
        "model": "49c4af9594b609ec",
        "rawQuery": "",
        "where": [],
        "attributes": "id",
        "limit": "false",
        "limitType": "bool",
        "offset": "false",
        "offsetType": "bool",
        "data": "false",
        "dataType": "bool",
        "order": [],
        "outputs": 2,
        "inputs": 1,
        "syncType": "create",
        "x": 380,
        "y": 380,
        "wires": [
            [
                "2988dedb39791bd9"
            ],
            [
                "365f98582873489c"
            ]
        ]
    },
    {
        "id": "ab8dd3ba32607dec",
        "type": "http in",
        "z": "e495c177d14d0b11",
        "name": "",
        "url": "/api/user/max",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "de867b6f23be58d3"
            ]
        ]
    },
    {
        "id": "de867b6f23be58d3",
        "type": "orm-db",
        "z": "e495c177d14d0b11",
        "name": "",
        "server": "a71510fea98254e9",
        "queryType": "max",
        "model": "49c4af9594b609ec",
        "rawQuery": "",
        "where": [],
        "attributes": "id",
        "limit": "false",
        "limitType": "bool",
        "offset": "false",
        "offsetType": "bool",
        "data": "false",
        "dataType": "bool",
        "order": [],
        "outputs": 2,
        "inputs": 1,
        "syncType": "create",
        "x": 380,
        "y": 440,
        "wires": [
            [
                "2988dedb39791bd9"
            ],
            [
                "365f98582873489c"
            ]
        ]
    },
    {
        "id": "83969f8155228867",
        "type": "http in",
        "z": "e495c177d14d0b11",
        "name": "",
        "url": "/api/user/min",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "60370e2900a91527"
            ]
        ]
    },
    {
        "id": "60370e2900a91527",
        "type": "orm-db",
        "z": "e495c177d14d0b11",
        "name": "",
        "server": "a71510fea98254e9",
        "queryType": "min",
        "model": "49c4af9594b609ec",
        "rawQuery": "",
        "where": [
            {
                "logic1": "none",
                "field": "id",
                "expression": "gt",
                "value": "3",
                "logic2": "none",
                "valueType": "num"
            }
        ],
        "attributes": "id",
        "limit": "false",
        "limitType": "bool",
        "offset": "false",
        "offsetType": "bool",
        "data": "false",
        "dataType": "bool",
        "order": [],
        "outputs": 2,
        "inputs": 1,
        "syncType": "create",
        "x": 370,
        "y": 500,
        "wires": [
            [
                "2988dedb39791bd9"
            ],
            [
                "365f98582873489c"
            ]
        ]
    },
    {
        "id": "2e71ad5a4cd7c0ac",
        "type": "http in",
        "z": "e495c177d14d0b11",
        "name": "",
        "url": "/api/user/sum",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "d9424fe772395d58"
            ]
        ]
    },
    {
        "id": "d9424fe772395d58",
        "type": "orm-db",
        "z": "e495c177d14d0b11",
        "name": "",
        "server": "a71510fea98254e9",
        "queryType": "sum",
        "model": "49c4af9594b609ec",
        "rawQuery": "",
        "where": [
            {
                "logic1": "none",
                "field": "username",
                "expression": "substring",
                "value": "a",
                "logic2": "none",
                "valueType": "str"
            },
            {
                "logic1": "and",
                "field": "id",
                "expression": "gt",
                "value": "2",
                "logic2": "none",
                "valueType": "num"
            }
        ],
        "attributes": "id",
        "limit": "false",
        "limitType": "bool",
        "offset": "false",
        "offsetType": "bool",
        "data": "false",
        "dataType": "bool",
        "order": [],
        "outputs": 2,
        "inputs": 1,
        "syncType": "create",
        "x": 380,
        "y": 560,
        "wires": [
            [
                "2988dedb39791bd9"
            ],
            [
                "365f98582873489c"
            ]
        ]
    },
    {
        "id": "e7e7288fc0494c3c",
        "type": "http in",
        "z": "e495c177d14d0b11",
        "name": "",
        "url": "/api/user/raw",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "6f02747907755be0"
            ]
        ]
    },
    {
        "id": "6f02747907755be0",
        "type": "orm-db",
        "z": "e495c177d14d0b11",
        "name": "",
        "server": "a71510fea98254e9",
        "queryType": "raw",
        "model": "",
        "rawQuery": "select * from user",
        "where": [],
        "attributes": [],
        "limit": "false",
        "limitType": "bool",
        "offset": "false",
        "offsetType": "bool",
        "data": "false",
        "dataType": "bool",
        "order": [],
        "outputs": 2,
        "inputs": 1,
        "syncType": "create",
        "x": 370,
        "y": 620,
        "wires": [
            [
                "2988dedb39791bd9"
            ],
            [
                "365f98582873489c"
            ]
        ]
    },
    {
        "id": "1d9f33b34bf40642",
        "type": "http in",
        "z": "e495c177d14d0b11",
        "name": "",
        "url": "/api/user/transaction",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "027cc512fcdc4a53"
            ]
        ]
    },
    {
        "id": "027cc512fcdc4a53",
        "type": "orm-db",
        "z": "e495c177d14d0b11",
        "name": "",
        "server": "a71510fea98254e9",
        "queryType": "btransaction",
        "model": "",
        "rawQuery": "select * from user",
        "where": [],
        "attributes": [],
        "limit": "false",
        "limitType": "bool",
        "offset": "false",
        "offsetType": "bool",
        "data": "false",
        "dataType": "bool",
        "order": [],
        "outputs": 1,
        "inputs": 1,
        "syncType": "create",
        "x": 420,
        "y": 680,
        "wires": [
            [
                "f376022617a1400d"
            ]
        ]
    },
    {
        "id": "f376022617a1400d",
        "type": "orm-db",
        "z": "e495c177d14d0b11",
        "name": "",
        "server": "a71510fea98254e9",
        "queryType": "update",
        "model": "49c4af9594b609ec",
        "rawQuery": "",
        "where": [
            {
                "logic1": "none",
                "field": "id",
                "expression": "eq",
                "value": "payload.id",
                "logic2": "none",
                "valueType": "msg"
            }
        ],
        "attributes": "id",
        "limit": "false",
        "limitType": "bool",
        "offset": "false",
        "offsetType": "bool",
        "data": "payload",
        "dataType": "msg",
        "order": [],
        "outputs": 2,
        "inputs": 1,
        "syncType": "create",
        "x": 660,
        "y": 680,
        "wires": [
            [
                "c263d3eeaa49bdb1"
            ],
            [
                "21e44b6389edfb88"
            ]
        ]
    },
    {
        "id": "21e44b6389edfb88",
        "type": "orm-db",
        "z": "e495c177d14d0b11",
        "name": "",
        "server": "a71510fea98254e9",
        "queryType": "rtransaction",
        "model": "",
        "rawQuery": "",
        "where": [],
        "attributes": [],
        "limit": "false",
        "limitType": "bool",
        "offset": "false",
        "offsetType": "bool",
        "data": "false",
        "dataType": "bool",
        "order": [],
        "outputs": 1,
        "inputs": 1,
        "syncType": "create",
        "x": 880,
        "y": 720,
        "wires": [
            [
                "365f98582873489c"
            ]
        ]
    },
    {
        "id": "c263d3eeaa49bdb1",
        "type": "orm-db",
        "z": "e495c177d14d0b11",
        "name": "",
        "server": "a71510fea98254e9",
        "queryType": "ctransaction",
        "model": "",
        "rawQuery": "",
        "where": [],
        "attributes": [],
        "limit": "false",
        "limitType": "bool",
        "offset": "false",
        "offsetType": "bool",
        "data": "false",
        "dataType": "bool",
        "order": [],
        "outputs": 1,
        "inputs": 1,
        "syncType": "create",
        "x": 880,
        "y": 640,
        "wires": [
            [
                "2988dedb39791bd9"
            ]
        ]
    },
    {
        "id": "6a784bd9fbb56180",
        "type": "orm-db",
        "z": "e495c177d14d0b11",
        "name": "Sync",
        "server": "a71510fea98254e9",
        "queryType": "sync",
        "model": "",
        "rawQuery": "",
        "where": [],
        "attributes": [],
        "limit": "false",
        "limitType": "bool",
        "offset": "false",
        "offsetType": "bool",
        "data": "false",
        "dataType": "bool",
        "order": [],
        "outputs": 2,
        "inputs": 1,
        "syncType": "create",
        "x": 390,
        "y": 820,
        "wires": [
            [
                "71fe521d0dae76ed"
            ],
            [
                "71fe521d0dae76ed"
            ]
        ]
    },
    {
        "id": "d6bf513205097d59",
        "type": "inject",
        "z": "e495c177d14d0b11",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 820,
        "wires": [
            [
                "6a784bd9fbb56180"
            ]
        ]
    },
    {
        "id": "71fe521d0dae76ed",
        "type": "debug",
        "z": "e495c177d14d0b11",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 820,
        "wires": []
    },
    {
        "id": "a71510fea98254e9",
        "type": "orm-db-connection",
        "name": "Mysql-Test",
        "driver": "mysql",
        "host": "localhost",
        "username": "root",
        "password": "root",
        "database": "node-red"
    },
    {
        "id": "49c4af9594b609ec",
        "type": "orm-db-model",
        "name": "User",
        "table": "user",
        "fields": [
            {
                "name": "id",
                "type": "INTEGER",
                "allowNull": false,
                "primary": true,
                "autoIncrement": true,
                "size": ""
            },
            {
                "name": "username",
                "type": "STRING",
                "allowNull": false,
                "primary": false,
                "autoIncrement": false,
                "size": "30"
            },
            {
                "name": "email",
                "type": "STRING",
                "allowNull": false,
                "primary": false,
                "autoIncrement": false,
                "size": ""
            },
            {
                "name": "password",
                "type": "STRING",
                "allowNull": false,
                "primary": false,
                "autoIncrement": false,
                "size": "50"
            }
        ],
        "relationship": []
    }
]